{{ define "main" }}

<article>

    <h1>{{ .Title }}</h1>

    {{ if not .Params.meta }}
        {{ partial "aside" . }}
    {{ end }}

    {{ partial "ingredients" . }}

    {{.Content}}

  <aside>
      <time class="post-date" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
          {{ .Date.Format "Jan 2nd, 2006" }}
      </time>
  </aside>
</article>

{{ if not .Params.meta }}
<section class="post-nav">
    <ul>
        {{ with .PrevInSection }}
        <li>
            <a href="{{.Permalink}}"><i class="fa fa-chevron-circle-left"></i> {{ .Title }}</a>
        </li>
        {{ end }}
        {{ with .NextInSection }}
        <li>
            <a href="{{.Permalink}}">{{ .Title }} <i class="fa fa-chevron-circle-right"></i> </a>
        </li>
        {{ end }}
    </ul>
</section>
    {{ if .Site.DisqusShortname }}
        {{ partial "disqus" . }}
    {{ end }}
{{ end }}

{{ end }}
