<aside>
    <ul>
        {{ if .Params.categories }}
        <li>
            Categories:
            <em>
                {{ range $i, $c := .Params.categories }}
                    {{ if $i }}, {{ end }}
                    <a href="/categories/{{$c | urlize }}/">{{ $c }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

        {{ if .Params.tags }}
        <li>
            <em>
                {{ range $i, $t := .Params.tags }}
                    {{ if $i }}, {{ end }}
                    <a href="/tags/{{$t | urlize }}/">#{{ $t }}</a>
                {{ end }}
            </em>
        </li>
        {{ end }}

    {{ with .Params.temps }}
        {{ if .préparation }}
            <li>Préparation : {{ .préparation }} min</li>
        {{ end }}
        {{ if .cuisson }}
            <li>Cuisson : {{ .cuisson }} min</li>
        {{ end }}
    {{ end }}
    </ul>
</aside>
