<section>
  {{ if .Params.ingrédients }}
  <h1 id="ingredients">Ingrédients:</h1>
    <ul>
        {{ range $a := .Params.ingrédients }}
    {{ with $a.section }}
    </ul>
    <h2>{{ . }}</h2>
    <ul>
    {{ else}}
          <li>
            {{ with $a.produit }}{{ . }}{{ end }}
            {{ with $a.quantité }} : {{ . }}{{ end }}
          </li>
        {{ end }}
    {{ end }}
    </ul>
  {{ end }}
</section>
